/* courceDetais style */

.apph2 {
    margin-left: -0.2rem !important;
}

.courceDetais {
    margin-left: 9rem;
    width: 80%;
}

.courceDetaisInputs {
    height: 30px;
    width: 60%;
    margin-bottom: 10px;
    margin-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.courceDetaisLabels {
    font-size: larger;
}

.validParaCource {
    color: red;
    margin-top: -7px;
}



/* Personal Detais style  */

.personalDetais {
    margin-left: 20px;
}

.personalDetaisLabels {
    font-size: larger;
    margin-left: 8rem;
}

.personalDetaisInputs {
    height: 30px;
    width: 50%;
    margin-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.DOBInputs {
    height: 30px;
    width: 41.6%;
    margin-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: larger
}

.nationalityInputs {
    height: 30px;
    width: 27.5%;
    margin-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.genderLabels {
    font-size: large;
    margin-left: 20px;
}

.validParaPersonal {
    color: red;
    margin-left: 8rem;
}


/* contactDetaisLabels  style*/

.contactDetais {
    margin-left: 9rem;
}

.contactDetaisLabels {
    font-size: larger;
    display: inline-block;
    margin-top: 30px;
}

.contactDetaisInputs {
    height: 30px;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.mobAndEmailInputs {
    height: 30px;
    width: 26.3rem;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
}

.fatherInputs {
    height: 30px;
    width: 49.2rem;
    margin-left: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.validParaContact {
    color: red;
}



/* Educational Details  */

.tableInputs {
    text-align: center;
    height: 30px;
    width: 13rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

table {
    border: 2px solid black;
    margin-left: 9rem;
}

table tr td,
th {
    border: 1px solid black;
}

option {
    height: 20px;
}

.nextButton {
    border: none;
    background-color: #54a0ff;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 13rem;
    margin-left: 40rem !important;
    font-size: larger;
}

:hover.nextButton {
    background-color: #1e90ff;
    color: black;
}

hr {
    margin-left: 10%;
    width: 80%;
}

.courceDetaish2 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 9rem
}

.stdTable {
    margin-left: 9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

/* error css */
.validParaContact,
.validParaCource,
.validParaPersonal {
    color: red;
    font-size: 16px;
    margin-left: 13.5%;
}

/* courceDetails style */
.apph2 {
    margin-left: 3rem;
    padding: 10px;
    text-align: center;
}

.courceDetailsh2 {
    display: inline-block;
    margin-left: 11rem;
    font-size: 23px;
}

.Inputs {
    height: 35px;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 11.2rem;
    border: none;
    border-bottom: 2px solid black;
    padding: 5px;
    outline: none;
}

.Labels {
    font-size: larger;
    display: inline-block;
    margin-left: 11.2rem;
    width: 100%;
    margin-top: 10px;
}

.genderLabels {
    margin-left: 11.2rem;
    font-size: 20px;
}

.gender {
    font-size: 19px;
}

span {
    color: white;
}

/* Educational Details  */
table {
    border: 2px solid black;
    margin-left: 5rem;
}

.stdTable {
    margin-left: 11rem;
}

.tableInputs {
    text-align: center;
    height: 30px;
    width: 12rem;
    border: none;
    outline: none;
}

table tr td,
th {
    border: 1px solid black;
    padding: 5px;
}

option {
    height: 2px;
}

/* button css */
.nextButton {
    border: none;
    background-color: #54a0ff;
    color: white;
    border-radius: 5px;
    height: 40px;
    margin-left: 11rem;
    font-size: larger;
    width: 13rem;
}

:hover.nextButton {
    font-weight: 500;
    background-color: #1e90ff;
    color: black;
}




/* Media queries for Tablet views */
@media only screen and (min-width: 480px) and (max-width: 830px) {
    body {
        font-size: 14px;
        box-sizing: border-box;
        width: 100vw;
    }

    .main {
        background-color: #fff;
        width: 100vw;
    }

    .apph2 {
        font-size: 18px;
    }

    .apph2,
    .courceDetails,
    .contactDetails,
    .stdTable {
        margin-left: 0;
        width: 100%;
    }

    .nextButton {
        margin-left: 0;
    }

    .courceDetailsh2,
    .genderLabels,
    .gender {
        margin-left: 71px;
        font-size: 15px;
    }

    .courceDetails {
        width: 70%;
    }

    .Labels {
        margin-left: 20%;
    }

    .Inputs,
    .tableInputs {
        width: 100%;
        box-sizing: border-box;
        margin-left: 20%;
    }

    .tableInputs {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }


    /* Labels style */
    .Labels {
        margin-top: 0;
    }

    /* Educational Details */
    .tableInputs {
        width: 12.5vw;
    }

    .stdTable {
        margin-left: 4.8rem;
        background-color: #fff;
        width: 50%;
    }

    .nextButton {
        margin-left: 40% !important ;
        width: 8rem;
    }

    /* error css */
    .validParaCource,
    .validParaContact,
    .validParaPersonal {
        font-size: 12px;
        margin-left: 20%;
    }

    .fatherInputs {
        width: 20rem;
    }
}

/* Media queries for mobile views */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
        box-sizing: border-box;
        /* width: 100vw; */
    }

    .main {
        background-color: #fff;
        /* width: 100vw; */
    }

    .apph2 {
        font-size: 18px;
    }

    .apph2,
    .courceDetails,
    .contactDetails,
    .stdTable {
        margin-left: 0;
        width: 100%;
    }

    .nextButton {
        margin-left: 8rem !important;
    }

    /* .courceDetailsh2,
    .genderLabels,
    .gender {
        margin-left: 71px;
        font-size: 15px;
    } */

    .courceDetais {
        /* padding-left: -5rem; */
        margin-left: 7rem;
        width: 70%;
    }

    .courceDetaisInputs{
     width: 12rem;   
    }

    .courceDetaisLabels{
        margin-left: -4.5rem;
    }

    .Labels {
        margin-left: 20%;
    }

    .Inputs,
    .tableInputs {
        width: 100%;
        box-sizing: border-box;
        margin-left: 20%;
    }

    .tableInputs {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }


    /* Labels style */
    .Labels {
        margin-top: 0;
    }

    /* Educational Details */
    .tableInputs {
        width: 12.5vw;
    }

    .stdTable {
        margin-left: 0.8rem;
        background-color: #fff;
        width: 40%;
    }

    .nextButton {
        margin-left: 35%;
        width: 8rem;
    }

    /* error css */
    .validParaCource,
    .validParaContact,
    .validParaPersonal {
        font-size: 12px;
        margin-left: 20%;
    }

    .fatherInputs {
        margin-left: 2rem;
        width: 15rem;
    }

    .cMainDiv{
        /* width: 20rem; */
    }

    .courceDetaish2{
        margin-left: 1rem;
    }

    .personalDetaisLabels{
        margin-left: 1rem;
    }

    .personalDetaisInputs{
        width: 13rem;
    }

    .genderLabels{
        margin-left: 2rem;
    }

    .contactDetais{
        margin-left: 2rem;
    }

    .mobAndEmailInputs{
        width: 15rem;
    }

    .DOBInputs{
        width: 15rem;
    }
    
    .nationalityInputs{
        width: 15rem;
    }

    .courseH3{
        margin-left: -6rem;
    }
}