/* Default styles for larger screens */

.ringLoader {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 15rem;
}

.compDiv {
    background: linear-gradient(to right, #d1d8e0, #82ccdd);
    display: flex;
    width: 80%;
    height: 60%;
    margin-left: 9rem;
    box-shadow: 0px 0px 8px black;
}

.compText {
    width: 38rem;
    text-align: center;
    padding: 5rem 2rem;
    margin-left: 20px;
}

.imgLog {
    height: 60px;
    width: 60px;
    margin-left: 17rem;
}

.mainDiv {
    height: 55rem;
    padding-top: 8rem;
    background: linear-gradient(to right, #60a3bc, #dff9fb);
}

.logDiv {
    width: 100%;
    background-color: white;
    padding-top: 3rem;
}

.loginLable {
    font-size: large;
    margin-top: 2rem;
    margin-left: 3rem;
}

.loginInput {
    background-color: #dff9fb;
    height: 40px;
    width: 22rem;
    border: none;
    margin-left: 1rem;
    border-radius: 5px;
}

.loginButton {
    border: none;
    background-color: #54a0ff;
    color: white;
    margin-top: 3rem;
    margin-left: 11rem;
    border-radius: 5px;
    height: 40px;
    width: 16rem;
    font-size: larger;
    font-weight: 500;
}

:hover.loginButton {
    background-color: #1e90ff;
    color: black;
    font-weight: 500;
}

.LeftComponentdiv {
    text-align: center;
    font-size: larger;
    margin-top: 19%;
}

.errorPara {
    color: red;
    /* margin-top: 0.5rem; */
    margin-left: 1rem;
}

/* Responsive styles for tablet */
@media only screen and (max-width: 821px) {

    .ringLoader {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-top: 10rem;
    }

    .compDiv {
        height: 30rem;
        margin-top: 9rem;
        width: 90%;
        margin-left: 5%;
    }

    .imgLog {
        margin-left: 4%;
        margin-left: 37%;
        margin-top: -16%;
        height: 22%;
        width: 25%;
    }

    .mainDiv {
        height: 69rem;
        padding-top: 6rem;
    }

    .logDiv {
        padding-top: 8rem;
        width: 100%;
    }

    .loginLable {
        margin-left: 2rem;
        font-size: 16px;
    }

    .loginInput {
        width: 14rem;
        margin-left: 10px;
        font-size: 16px;
    }

    .loginButton {
        margin-left: 5rem;
        text-align: center;
    }

    .LeftComponentdiv {
        margin-top: 10%;
        font-size: 15px;
    }

    .compText {
        /* text-align: center; */
        padding: 5rem 2rem;
        width: 20rem;
    }

}

/* Responsive styles for mobile */

@media only screen and (max-width: 320px) {
    .ringLoader {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
    }

    .compDiv {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: -5px;
        border-radius: 10px;
    }

    .imgLog {
        margin-left: 0;
        margin-left: 40%;
        margin-top: 2%;
        height: 10%;
        width: 15%;
    }

    .mainDiv {
        height: 55rem;
        /* padding-top: 4rem; */
    }

    .logDiv {
        padding-top: 1rem;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .loginLable {
        margin-left: 1rem;
        font-size: 16px;
    }

    .loginInput {
        width: 13rem;
        margin-left: -15px;
        font-size: 16px;
    }

    .loginButton {
        margin-bottom: 20px;
        margin-left: 2.5rem;
        width: 15rem;
    }

    .LeftComponentdiv {
        margin-top: 5%;
        font-size: 13px;
    }

    .compText {
        text-align: center;
        padding: 2rem 2rem;
        margin: auto;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {

    .ringLoader {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
    }

    .compDiv {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: -5px;
        border-radius: 10px;
    }

    .imgLog {
        margin-left: 40%;
        margin-top: 2%;
        height: 10%;
        width: 15%;
    }

    .mainDiv {
        height: 55rem;
        /* padding-top: 4rem; */
    }

    .logDiv {
        padding-top: 1rem;
        padding-left: auto;
        margin: auto;
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .loginLable {
        margin-left: 1rem;
        font-size: 16px;
    }

    .loginInput {
        width: 16rem;
        margin-left: -15px;
        font-size: 16px;
    }

    .loginButton {
        margin-bottom: 20px;
        margin-left: 5rem;
        width: 15rem;
    }

    .LeftComponentdiv {
        margin-top: 5%;
        font-size: 13px;
    }

    .compText {
        text-align: center;
        padding: 2rem 2rem;
        margin: auto;
    }

}

/* Responsive styles for tablet */
@media only screen and (min-width: 481px) and (max-width: 830px) {
    .ringLoader {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-top: 10rem;
    }

    .compDiv {
        height: 30rem;
        margin-top: 9rem;
        width: 90%;
        margin-left: 5%;
    }

    .imgLog {
        margin-left: 4%;
        margin-left: 37%;
        margin-top: -16%;
        height: 22%;
        width: 25%;
    }

    .mainDiv {
        height: 69rem;
        padding-top: 6rem;
    }

    .logDiv {
        padding-top: 8rem;
        width: 100%;
    }

    .loginLable {
        margin-left: 2rem;
        font-size: 16px;
    }

    .loginInput {
        width: 14rem;
        margin-left: 10px;
        font-size: 16px;
    }

    .loginButton {
        margin-left: 5rem;
        text-align: center;
    }

    .LeftComponentdiv {
        margin-top: 10%;
        font-size: 15px;
    }

    .compText {
        /* text-align: center; */
        padding: 5rem 2rem;
        width: 20rem;
    }
}

@media only screen and (min-width: 831px) and (max-width: 1024px) {
    .ringLoader {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-top: 10rem;
    }

    .compDiv {
        height: 30rem;
        margin-top: 9rem;
        width: 90%;
        margin-left: 5%;
    }

    .imgLog {
        margin-left: 4%;
        margin-left: 37%;
        margin-top: -16%;
        height: 22%;
        width: 25%;
    }

    .mainDiv {
        height: 69rem;
        padding-top: 6rem;
    }

    .logDiv {
        padding-top: 8rem;
        width: 100%;
    }

    .loginLable {
        margin-left: 2rem;
        font-size: 16px;
    }

    .loginInput {
        width: 14rem;
        margin-left: 10px;
        font-size: 16px;
    }

    .loginButton {
        margin-left: 5rem;
        text-align: center;
    }

    .LeftComponentdiv {
        margin-top: 10%;
        font-size: 15px;
    }

    .compText {
        /* text-align: center; */
        padding: 5rem 2rem;
        width: 20rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .ringLoader {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        margin-top: 10rem;
    }

    .compDiv {
        height: 30rem;
        margin-top: 9rem;
        width: 90%;
        margin-left: 5%;
    }

    .imgLog {
        margin-left: 4%;
        margin-left: 37%;
        margin-top: -16%;
        height: 22%;
        width: 25%;
    }

    .mainDiv {
        height: 69rem;
        padding-top: 6rem;
    }

    .logDiv {
        padding-top: 8rem;
        width: 100%;
    }

    .loginLable {
        margin-left: 2rem;
        font-size: 16px;
    }

    .loginInput {
        width: 14rem;
        margin-left: 10px;
        font-size: 16px;
    }

    .loginButton {
        margin-left: 5rem;
        text-align: center;
    }

    .LeftComponentdiv {
        margin-top: 10%;
        font-size: 15px;
    }

    .compText {
        /* text-align: center; */
        padding: 5rem 2rem;
        width: 20rem;
    }
}